@tailwind base;
@tailwind components;
@tailwind utilities;

@import './themes.css';

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

html,
body,
:root {
  height: 100%;
}

.bg-gradient { background: var(--gradient) }

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-background;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    @apply bg-primary/30 rounded-full border-2 border-transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-primary/50;
  }


}


/* Chrome, Edge, and Safari */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}