@tailwind base;

@layer base {
  :root {
    --gradient: #ec008c;

    --background: -38 65% 3.68%;
    --foreground: 0 0% 95%;
    --muted: -38 50% 13.8%;
    --muted-foreground: -38 10% 54.6%;

    --popover: -38 45% 5.98%;
    --popover-foreground: -38 10% 97.3%;

    --card: -38 45% 5.98%;
    --card-foreground: -38 10% 97.3%;

    --border: -38 50% 13.8%;
    --input: -38 50% 13.8%;

    --primary: -38 100% 46%;
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: -38 50% 13.8%;
    --secondary-foreground: -38 10% 97.3%;

    --accent: -38 50% 13.8%;
    --accent-foreground: -38 10% 97.3%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: -38 10% 97.3%;

    --ring: -38 100% 46%;
    --radius: 0.75rem;
  }

  .pink {
    --gradient: #ec008c;

    --background: -38 65% 3.68%;
    --foreground: 0 0% 95%;
    --muted: -38 50% 13.8%;
    --muted-foreground: -38 10% 54.6%;

    --popover: -38 45% 5.98%;
    --popover-foreground: -38 10% 97.3%;

    --card: -38 45% 5.98%;
    --card-foreground: -38 10% 97.3%;

    --border: -38 50% 13.8%;
    --input: -38 50% 13.8%;

    --primary: -38 100% 46%;
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: -38 50% 13.8%;
    --secondary-foreground: -38 10% 97.3%;

    --accent: -38 50% 13.8%;
    --accent-foreground: -38 10% 97.3%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: -38 10% 97.3%;

    --ring: -38 100% 46%;
  }


  .rose {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
  }


  .blue {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }


  .orange {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
  }

  .green {
    --gradient: #00F5A0;

    --background: 169 65% 3.84%;
    --foreground: 0 0% 95%;
    --muted: 169 50% 14.399999999999999%;
    --muted-foreground: 169 10% 54.8%;

    --popover: 169 45% 6.24%;
    --popover-foreground: 169 10% 97.4%;

    --card: 169 45% 6.24%;
    --card-foreground: 169 10% 97.4%;

    --border: 169 50% 14.399999999999999%;
    --input: 169 50% 14.399999999999999%;

    --primary: 169 100% 48%;
    --primary-foreground: 169 10% 4.8%;

    --secondary: 169 50% 14.399999999999999%;
    --secondary-foreground: 169 10% 97.4%;

    --accent: 169 50% 14.399999999999999%;
    --accent-foreground: 169 10% 97.4%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 169 10% 97.4%;

    --ring: 169 100% 48%;
  }

  .gradient1 {
    --gradient: linear-gradient(to top left,#5433FF,#20BDFF,#A5FECB);

    --background: 265 65% 4.8%;
    --foreground: 0 0% 95%;
    --muted: 265 50% 18%;
    --muted-foreground: 265 10% 56%;

    --popover: 265 45% 7.8%;
    --popover-foreground: 265 10% 98%;

    --card: 265 45% 7.8%;
    --card-foreground: 265 10% 98%;

    --border: 265 50% 18%;
    --input: 265 50% 18%;

    --primary: 265 100% 60%;
    --primary-foreground: 265 10% 6%;

    --secondary: 265 50% 18%;
    --secondary-foreground: 265 10% 98%;

    --accent: 265 50% 18%;
    --accent-foreground: 265 10% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 265 10% 98%;

    --ring: 265 100% 60%;
  }

  
}
